<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">WeatherCity</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="#">Главная</a>
          <a class="p-2 text-dark" href="#">О компании</a>
        </nav>
        <a class="btn btn-outline-primary" href="#">Документация</a>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-5 offset-1">
                <h1>Погодное приложение</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    <label for="city">Город</label>
                    {{ form.name }}
                    <input type="submit" name="send" value="Узнать" class="mt-2 btn btn-danger">
                </form>
            </div>
            <div class="col-4 offset-1">
                    <h1>Информация</h1>

                    {% for info in all_info %}
                    <div class="mt-4 alert alert-info">
                        <div class="row">
                            <div class="col-8">
                                <b>Город: </b>{{ info.city }}<br>
                                <b>Температура: </b>{{ info.temp }}<sup>о</sup></sup><br>
                            </div>
                            <div class="col-3  offset-1">
                                    <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="Фото погоды" class="img-thumbnail">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>

        </div>
    </div>

</body>
</html>